@model IEnumerable<Easy.Monitor.Application.Models.ServiceStatMinute.ServiceStatMinuteModel>
@{
    ViewBag.Title = "服务统计";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<script src="~/Scripts/jQuery-2.1.4.min.js"></script>
@*<script src="~/Scripts/bootstrap.min.js"></script>*@
<script src="~/Scripts/jquery.bootpag.min.js"></script>
<script src="~/Scripts/jquery.bootpag.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="content-wrapper">
    <input type="hidden" id="hiddenCount" value="@ViewBag.Count" />
    <section class="content-header">
        <h1>
            @ViewBag.ServiceName
        </h1>
        <ol class="breadcrumb">
            <li><a href="\"><i class="fa fa-files-o"></i> Home</a></li>
            <li class="active">@ViewBag.ServiceName</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"></h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>AverageTime</th>
                                    <th>ErrorResponseFrquency</th>
                                    <th>RequestFrequency</th>                                
                                    <th>ResponseFrequency</th>
                                    <th>MaxResponseTime</th>
                                    <th>MinResponseTime</th>
                                    <th>AverageResponseTime</th>
                                    <th>TotalResponseTime</th>
                                    <th>StatTime</th>
                                </tr>
                            </thead>
                            <tbody id="content">
                                @foreach (var m in Model)
                                {
                                    <tr>
                                        <td>@m.AverageRequestResponseTime</td>
                                        <td>@m.ErrorResponseFrquency</td>
                                        <td>@m.RequestFrequency</td>
                                        <td>@m.ResponseFrequency</td>
                                        <td>@m.MaxResponseTime</td>
                                        <td>@m.MinResponseTime</td>
                                        <td>@m.AverageResponseTime</td>
                                        <td>@m.TotalResponseTime</td>
                                        <td>@m.StatTime</td>
                                    </tr>
                                }
                            </tbody>                          
                        </table>
                        <div id="page-selection"></div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->  
    <script>
        //init bootpag           
    $('#page-selection').bootpag({
        total: $("#hiddenCount").val(),
        maxVisible: 10
    }).on("page", function (event, num) {        
        $.ajax({
            url: "/ServiceMiniChart/GetServiceStatistics?pageIndex=" + num + "&serviceName=@ViewBag.ServiceName",
            success: function (data) {              
                var htmlTemp = "";
                var count = 20;
                $.each(data, function (i, n) {
                    htmlTemp += '<tr><td>' + n.AverageRequestResponseTime + '</td><td>' + n.ErrorResponseFrquency + '</td><td>' + n.RequestFrequency + '</td><td>' + n.ResponseFrequency + '</td><td>' + n.MaxResponseTime + '</td><td>' + n.MinResponseTime + '</td><td>' + n.AverageResponseTime + '</td><td>' + n.TotalResponseTime + '</td><td>' + n.StatTime + '</td></tr>';                    
                    count = n.TotalCount;
                });
                $("#content").html(htmlTemp);             
                $(this).bootpag({ total: (count/50), page: num, maxVisible: 10 });
            }
        });        
    });
</script>   
   
